[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
django-phonenumber-field = "*"
phonenumbers = "*"
django-localflavor = "*"
django-model-utils = "*"
psycopg2 = "*"
django-crispy-forms = "*"
stripe = "*"
django-heroku = "*"
gunicorn = "*"
djangorestframework = "*"
django-filter = '*'
docutils = "*"
django-tables2 = "*"
markdown = "*"
django-bootstrap-breadcrumbs = "*"

[requires]
python_version = "3.6.9"
