<h3 class="text-center">Assumption of Risk, Waiver and Release of Liability</h3>

<p class="text-center"><strong>Please Read Carefully Before Agreeing</strong></p>

<p>
  Twin Cities Maker, Inc. is a nonprofit organization that makes its workspace
  located at 3119 East 26thStreet in Minneapolis, MN (herein “WorkSpace”
  including the entire premises) available to its members and guests in order
  to pursue building projects using various media and technologies. As a
  member of Twin Cities Maker, I,the undersigned, agree that entry onto the
  premises and use of the WorkSpace is voluntary, and acknowledge such
  activities could be pursued at other public or private facilities, but
  have knowingly and willingly chosen to enterthe premises and use the
  WorkSpace subject to the terms of this agreement.
</p>
<p>
  I understand that entering the premises and using the WorkSpace, whether to
  work on my own projects or participatein an event or class or otherwise,
  involves inherent risks.  These risks encompass both known and unknown
  hazards including but not limited to accidents arising out of use of power
  equipment, exposure to chemicals or other dangerous substances, and
  slipping and falling on floors.  With that understanding, to the maximum
  extent allowed by law, I agreeto <strong>ASSUME ALL RISKS</strong> for any
  and all property damage or personal injury, including death, sustained by
  me or my property that may occur while on the premisesor using the WorkSpace,
  regardless of whether such damage or injury is caused in part or in whole by
  negligence of Twin Cities Maker, Inc., including its directors, officers,
  agents, employees, representatives, successors and assigns (“Releasees”).
</p>
<p>
  On behalf of myself as well as my heirs and next of kin, and in consideration
  of being allowed to enter the premises and use the WorkSpace, I hereby
  <strong>WAIVE, RELEASE, DISCHARGE, AND COVENANT NOT TO SUE</strong> the
  Releasees as defined above fromand for any and all liability, claims,
  losses, or causes of action whatsoever, known or unknown, arising out of or
  in any way relating to any loss, damage, or injury including death, whether
  caused by the negligence of the Releasees or otherwise, occurring while I
  am on the premises or using the WorkSpace or participating in any activity
  whatsoever at the WorkSpace, the intent being that this waiver, release,
  discharge, and covenant not to sue be interpreted as broadly as possible
  consistent with applicable law.
</p>
<p>
  In accordance with Minnesota Law, nothing in this Assumption of Risk,
  Waiver and Release of Liability should be construed as an assumption of
  risk or waiver or release of any claims for gross negligence, willful or
  wanton misconduct, or reckless or intentional acts by or on the part of
  Releasees. I also agree to abide by Twin Cities Maker’s shop rules and
  membership policies as may be adopted or amended from time to time by the
  organization.
</p>

<p>
  <strong>I HAVE CAREFULLY READ THIS ASSUMPTION OF RISK, WAIVER AND RELEASE
  OF LIABILITY AND UNDERSTAND ITS CONTENTS.  I AM AWARE THAT BY SIGNING THIS
  DOCUMENT I AM WAIVING CERTAIN LEGAL RIGHTS INCLUDING THE RIGHT TO SUE THE
  RELEASEES FOR CERTAIN CLAIMS.  I HAVE HAD ADEQUATE OPPORTUNITY TO CONSULT
  WITH AN ATTORNEY OR CHOOSE TO FOREGO SEEKING SUCH ADVICE. I ALSO REPRESENT
  THAT I AM AT LEAST EIGHTEEN (18) YEARS OF AGE AND FULLY COMPETENT.</strong>
</p>
