{% extends 'management/base.html' %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}2021 Voter List{% endblock %}
{% block heading %}2021 Voter List{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb '2021 Voter List' 'voting:index' %}
{% endblock %}

{% block content %}

<div class="mb-4" style="text-align: right;">
  <a class="btn btn-primary text-light" href="/voting/csv/">Download CSV</a>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Person</th>
      <th>Last Name</th>
      <th>First Name</th>
      <th>Email</th>
      <th>Phone</th>
    </tr>
  </thead>
  <tbody>
    {% for person in voters %}
      <tr>
        <td><a href="{% url 'membership:person_detail' pk=person.id %}">{{ person }}</a></td>
        <td>{{ person.family_name }}</td>
        <td>{{ person.given_name }}</td>
        <td>{{ person.email }}</td>
        <td>{{ person.phone_number }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
