{% load static %}
{% load django_bootstrap_breadcrumbs %}
<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href= "{% static "css/dashboard.css" %}">

  <title>{% block title %}Sign In{% endblock %} -- Twin Cities Maker</title>
</head>
<body>

<!-- Top Navigation -->
<nav class='navbar navbar-dark fixed-top bg-dark navbar-expand-lg'>
  <div class="navbar-brand">
    <a href="/"><img
      class="d-inline-block align-top"
      src="{% static "img/logo-white-text.svg" %}"
      alt="Twin Cities Maker logo"
      title=""></a>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto mr-4">
      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">{{ request.user.name }}</a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="">Change Password</a>
          <a class="dropdown-item" href="">Change Password</a>
          <hr class="dropdown-divider">
          <a class="dropdown-item" href="{% url 'management:signout' %}">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <h6>Membership</h6>
        <ul class="nav flex-column">
          <li class="nav-item"><a class="nav-link" href="{% url 'membership:person_list' %}">People</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'membership:household_list' %}">Households</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'membership:student_team_list' %}">Student Teams</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'membership:dues_plan_list' %}">Dues Plans</a></li>
        </ul>

        <h6>Management</h6>
        <ul class="nav flex-column">
          <li class="nav-item"><a class="nav-link" href="/admin/">Admin</a></li>
          <li class="nav-item"><a class="nav-link" href="/api/v1/">API Explorer</a></li>
        </ul>

        <h6>Special</h6>
        <ul class="nav flex-column">
          <li class="nav-item"><a class="nav-link" href="/voting/">2021 Voter List</a></li>
        </ul>

      </div>
    </nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="row">
        <div class="col-md-12 mt-2">
          {% block breadcrumbs %}
            {% clear_breadcrumbs %}
            {% breadcrumb "Home" "/" %}
          {% endblock %}
          {% block breadcrumb_content %}
            {% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap4.html" %}
          {% endblock %}
          <h2 class="mb-2 mt-4">{% block heading %}Dashboard{% endblock %}</h2>
        </div>
      </div>
      {% block content %}
        <ul>
          <li><a href="{% url 'membership:index' %}">Membership</a></li>
        </ul>
      {% endblock %}
    </main>
  </div>
</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% block javascript %}{% endblock %}
</body>
</html>
