<% content_for :page_title do %>
  Welcome aboard!
<% end %>

<p>
  It looks like we've got all the information we need from you. There's only
  two things left to do, but you can't do them in front of your computer.
</p>

<h5>Pick Up your Keyfob</h5>

<p>
  All members of Twin Cities Maker have a keyfob that grants them access to
  the building. You need to drop by the workshop during Open House to pick
  yours up. When we issue your keyfob, we'll activate your membership and
  you will be charged for your first month of dues.
</p>

<h5>Attend Orientation</h5>

<p>
  We regularly hold orientation sessions for new members. It's a good way to
  get to know the shop managers and meet other new members. Plus, if you stay
  for Woodshop orientation, which is usually held on the same night, you'll get
  training and clearance to use our most powerful woodworking tools.
</p>

<p><a class="btn btn-primary" href="https://tcmaker.org/">Back to Home Page</a></p>
